<html>
    <head>
        Books
    </head>
    <body>
            <div> Create A Book</div>
         

            <form action="/<%=customer_id%>/create" method="POST">
                <li className="Book">
                    <label>Book Name</label>
                    <input name="book_name" type="text" placeholder="Black Beauty">

                    <label>Book Souce</label>
                    <input name="book_source" placeholder="Enter Link">

                    <label>Author</label>
                    <input name="author" type="text" placeholder="Anna Sewell">

                    <label>Read Status</label>
                    <select name="read_status" >
                        <option selected="selected" value="unread">UNREAD</option>
                        <option value="read">READ</option>
                        <option value="reading">READING</option>
                        
                    </select>

                    <label>Genre</label>
                    <input name="genre_name" placeholder="Slice Of Life">
                    
                    <button type="submit">Submit</button>


                </li>

            </form>
            
            <a href="/<%=customer_id%>">Back </a>

    </body>

</html>