<html>
    <title>
        404
    </title>
    <body>
            <div>Error 404 :)</div>
            <div><%= message %></div>

            <a href="/<%=customer_id%>">Back </a>

    </body>

</html>