<html>
    <head>
        Books
    </head>
    <body>
            <div> Create A Book</div>
         

            <!-- <form action="/create" method="POST">
                <li className="Book">
                     <label>Name</label>
                    <input name="name" type="text" placeholder="Enter name">

                    <label>PassWord</label>
                    <input name="link" placeholder="Enter Password"> 

                

                    
      


                </li>

            </form> -->
            
            <a href="/1">Guest User</a>
            
        

    </body>

</html>