<html>
    <head>
        Books
    </head>
    <body>
            <div>Welcome User</div>
            <div><%= message %></div>

            <a href="/:customer_id">Back </a>
            <ul className="List">
                <li className="Book">
                    <div>books.name</div>
                    <div>books.source</div>
                    <div>books.author</div>
                    <div>books.read_status</div>
                    <div>Genre!!</div>

                </li>

            </ul>

    </body>

</html>