<html>
    <head>
        Books
    </head>
    <body>
            <div> Update Book</div>
         

            <form action="/update" method="POST">
                <li className="Book">
                    <label>Book Name</label>
                    <input name="name" value=book.book_name type="text" placeholder="Black Beauty">

                    <label>Book Souce</label>
                    <input name="link"  value=book.book_source placeholder="Enter Link">

                    <label>Author/label>
                    <input name="author" value=book.author type="text" placeholder="Anna Sewell">

                    <label>Read Status</label>
                    <select name="read_status" value=book.read_status >
                        <option value="unread">UNREAD</option>
                        <option value="read">READ</option>
                        <option value="reading">READING</option>
                        
                    </select>

                    <label>Genre</label>
                    <input name="genre" value=book.genre_name placeholder="Anna Sewell">
                    
                    <button type="submit">Save</button>


                </li>

            </form>
            
            <a href="/:customer_id">Back </a>

    </body>

</html>